.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    width: 400px;
    background-color: #f1e4e6;
    box-shadow: 0px 0px 70px 20px #f16d7f87;
  }
  &__header {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__footer {
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  &__title {
    color: rgb(255 0 35 / 93%);
    font-weight: 600;
    font-size: 20px;
  }
  &__body {
    font-weight: 400;
    font-size: 18px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(182, 166, 178, 0.367);
    border-bottom: 1px solid rgba(182, 166, 178, 0.367);
  }
  &__button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px/14px * 100%;
    color: #000000;
    min-width: 100px;
    min-height: 35px;
    border: 1px solid #a4a4a4;
    @media (any-hover: hover) {
      &:hover {
        border: none;
        color: white;
        background-color: $pinkColor;
      }
    }
  }
}
